<p><%= @month %> Support Heros</p>

<table id='calendar'>
 <tr>
   <th>Sunday</th> <th>Monday</th>
   <th>Tuesday</th> <th>Wednesday</th>
   <th>Thursday</th> <th>Friday</th>
   <th>Saturday</th>
  </tr>
  <tr>

  <% (@month_range).each do |d| %>
    <% if d.day == 1 %>
      <% d.wday.times do %> <td class='offset'></td> <% end %>
    <% end %>

    <% if d.wday == 0 %> </tr><tr> <% end %>
    <td> <%= d.day %> </td>
  <% end %>
  </tr>
</table>
<br>

<% @heroes.each do |hero| %>
   Order: <%= hero.id %>   Hero: <%= hero.name %> <br/>
<% end %>

