<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Support Hero Schedule</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= url('/stylesheet.css') %>" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<h1>Support Hero Schedule</h1>
    <%= yield %>
  </body>
</html>

